# Build folder and log file
build/
build.log
labcode/Finished_code/02_orientation/Resources
labcode/Finished_code/04_listviews/Resources
labcode/Finished_code/05_inputnav/Resources
labcode/Finished_code/07_iosdeepdive/Resources
